Package: luv.bedtime.starscape
Name: Starscape 🌠
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bedtime
Author: bedtime
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
